<add-or-update-reservation target-type="// vm.targetType //" show-modal="vm.showModal" reservation-id="// vm.reservationId //" host-id="// vm.hostId //" host-name="// vm.hostName //" user-id="// vm.userId //"  username="// vm.username //" reload="vm.getReservations()"></add-or-update-reservation>
<advanced-search show-modal="vm.showAdvancedSearch" reservation-start-time="// vm.reservationStartTime //" reservation-end-time="// vm.reservationEndTime //"></advanced-search>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li class="active"><a class="navbar-brand">Lab Reservation Tools</a></li>
        <li class="active"><a><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;// vm.loginUsername //</a></li>
      </ul>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <!--li>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <datetime-picker picker-id="fromSearchDatetimePicker" selected-datetime="vm.reservationStartTime"></datetime-picker>
              <datetime-picker picker-id="toSearchDatetimePicker" selected-datetime="vm.reservationEndTime"></datetime-picker>
            </div>
          </form>
        </li>
        <li><button class="btn btn-success" style="margin: 8px 0 0 8px;" ng-click="vm.reloadProfiles()"><span class="glyphicon glyphicon-refresh"></span></button></li-->
        <li><a href="javascript:void(0);" ng-click="vm.toAdvancedSearch()">Advanced Search</a></li>
        <li><a href="/tools/logout">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<style>
.table > tbody > tr > td {
  vertical-align: middle;
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-3 sidebar">

      <div class="input-group" style="margin-bottom: 15px;">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="vm.searchHostName">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="vm.searchHost(vm.searchHostName)">Go!</button>
        </span>
      </div><!-- /input-group -->
      <ul class="nav nav-sidebar">
        <li ng-repeat="h in vm.hosts" ng-class="{active: vm.selectedHost.pk == h.pk}"><a href="javascript:void(0);" ng-click="vm.selectHost(h)">// h.fields.host_name //</a></li>
      </ul>
    </div>
    <div class="col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div>
        <h1 class="page-header">// vm.selectedHost.fields.host_name || 'N/A' //</h1>
        <!-- Nav tabs -->
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#systeminfo" aria-controls="systeminfo" role="tab" data-toggle="tab">System Info</a></li>
          <li role="presentation"><a href="#nic" aria-controls="nic" role="tab" data-toggle="tab">NIC</a></li>
          <li role="presentation"><a href="#hba" aria-controls="hba" role="tab" data-toggle="tab">HBA</a></li>
          <li role="presentation"><a href="#reservations" aria-controls="reservations" role="tab" data-toggle="tab">Reservations</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="systeminfo">
            <h2 class="sub-header">System Info</h2>
            <div class="panel panel-default">
              <div class="panel-body" style="max-height: 350px; overflow-y: auto;">
                <dl class="dl-horizontal">
                  <dt>Group</dt>
                  <dd>// vm.selectedHost.fields['group'] //</dd>
                  <dt>Location</dt>
                  <dd>// vm.selectedHost.fields['location'] //</dd>
                  <dt>Vendor</dt>
                  <dd>// vm.selectedHost.fields['vendor'] //</dd>
                  <dt>Model</dt>
                  <dd>// vm.selectedHost.fields['model'] //</dd>
                  <dt>CPU Vendor</dt>
                  <dd>// vm.selectedHost.fields['cpu_vendor'] //</dd>
                  <dt>CPU Code Name</dt>
                  <dd>// vm.selectedHost.fields['cpu_code_name'] //</dd>
                  <dt>CPU Model Name</dt>
                  <dd>// vm.selectedHost.fields['cpu_model_name'] //</dd>
                  <dt>CPU Speed</dt>
                  <dd>// vm.selectedHost.fields['cpu_speed'] //</dd>
                  <dt>Total CPU Cores</dt>
                  <dd>// vm.selectedHost.fields['total_cpu_cores'] //</dd>
                  <dt>Total CPU Threads</dt>
                  <dd>// vm.selectedHost.fields['total_cpu_threads'] //</dd>
                  <dt>Memory</dt>
                  <dd>// vm.selectedHost.fields['memory'] //</dd>
                  <dt>Total NICs</dt>
                  <dd>// vm.selectedHost.fields['total_nics'] //</dd>
                  <dt>Total HBAs</dt>
                  <dd>// vm.selectedHost.fields['total_hbas'] //</dd>
                </dl>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="nic">
            <h2 class="sub-header">NIC</h2>
            <div class="panel panel-default">
              <div class="panel-body" style="max-height: 350px; overflow-y: auto;">
                <dl class="dl-horizontal" ng-repeat="n in vm.nics">
                  <dt>VMK Name Alias</dt><dd>// n.fields['vmk_name_alias'] //</dd>
                  <dt>NIC Driver</dt><dd>// n.fields['nic_driver'] //</dd>
                  <dt>MAC Address</dt><dd>// n.fields['mac_address'] //</dd>
                  <dt>Description</dt><dd>// n.fields['description'] //</dd>
                  <dt>Driver Version</dt><dd>// n.fields['driver_version'] //</dd>
                  <dt>Firmware</dt><dd>// n.fields['firmware'] //</dd>
                  <hr/>
                </dl>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="hba">
            <h2 class="sub-header">HBA</h2>
            <div class="panel panel-default">
              <div class="panel-body" style="max-height: 350px; overflow-y: auto;">
                <dl class="dl-horizontal" ng-repeat="h in vm.hbas">
                  <dt>VMK Name Alias</dt><dd>// h.fields['vmk_name_alias'] //</dd>
                  <dt>HBA Driver</dt><dd>// h.fields['hba_driver'] //</dd>
                  <dt>LIN State</dt><dd>// h.fields['lin_state'] //</dd>
                  <dt>Transport Identifier</dt><dd>// h.fields['transport_identifier'] //</dd>
                  <dt>Bus Info Description</dt><dd>// h.fields['bus_info_description'] //</dd>
                  <hr/>
                </dl>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="reservations">

            <h2 class="sub-header">Reservations</h2>
            <div class="panel panel-default">
              <div class="panel-body" style="min-height: 350px; overflow-y: auto;">
              <table class="table">
                <thead>
                  <th width="10%">User</th>
                  <th width="20%">Reservation Time Range</th>
                  <th width="20%">Next Reservation Block</th>
                  <th width="5%">Operation</th>
                </thead>
                <tbody>
                  <tr ng-repeat="r in vm.reservations">
                    <td>// r.fields.username //</td>
                    <td>// r.fields.reservation_start_time | dateL: 'YYYY-MM-DD HH:mm' //-// r.fields.reservation_end_time | dateL: 'YYYY-MM-DD HH:mm' //</td>
                    <td>// r.fields.reservation_end_time | dateL: 'YYYY-MM-DD HH:mm' //</td>
                    <td>
                      <a href="javascript:void(0);" ng-click="vm.toAddOrUpdateReservation(r.pk, 'EDIT')">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
            <button class="btn btn-default" ng-click="vm.toAddOrUpdateReservation(0, 'ADD')">New Reservation</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>