<add-or-update-reservation target-type="// vm.targetType //" show-modal="vm.showModal" reservation-id="// vm.reservationId //" machine-id="// vm.machineId //" machine-name="// vm.machineName //" user-id="// vm.userId //"  username="// vm.username //" reload="vm.getReservations()"></add-or-update-reservation>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Lab Reservation Tools</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a>// vm.loginUsername //</a></li>
        <li>&nbsp;&nbsp;</li>
        <li class="active"><a href="/tools/logout">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<style>
.table > tbody > tr > td {
  vertical-align: middle;
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-3 sidebar">

      <div class="input-group" style="margin-bottom: 15px;">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="vm.searchMachineName">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="vm.searchMachine(vm.searchMachineName)">Go!</button>
        </span>
      </div><!-- /input-group -->
      <ul class="nav nav-sidebar">
        <li ng-repeat="m in vm.machines" ng-class="{active: vm.selectedMachine.pk == m.pk}"><a href="javascript:void(0);" ng-click="vm.selectMachine(m)">// m.fields.machine_name //</a></li>
      </ul>
    </div>
    <div class="col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div>
        <h1 class="page-header">// vm.selectedMachine.fields.machine_name || 'N/A' //</h1>
        <!-- Nav tabs -->
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#systeminfo" aria-controls="systeminfo" role="tab" data-toggle="tab">System Info</a></li>
          <li role="presentation"><a href="#nic" aria-controls="nic" role="tab" data-toggle="tab">NIC</a></li>
          <li role="presentation"><a href="#hba" aria-controls="hba" role="tab" data-toggle="tab">HBA</a></li>
          <li role="presentation"><a href="#reservations" aria-controls="reservations" role="tab" data-toggle="tab">Reservations</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="systeminfo">
            <h2 class="sub-header">System Info</h2>
          </div>
          <div role="tabpanel" class="tab-pane" id="nic">
            <h2 class="sub-header">NIC</h2>
          </div>
          <div role="tabpanel" class="tab-pane" id="hba">
            <h2 class="sub-header">HBA</h2>
          </div>
          <div role="tabpanel" class="tab-pane" id="reservations">

            <h2 class="sub-header">Reservations</h2>
            <div class="panel panel-default">
              <div class="panel-body" style="min-height: 350px; overflow-y: auto;">
              <table class="table">
                <thead>
                  <th width="10%">User</th>
                  <th width="20%">Reservation Time Range</th>
                  <th width="20%">Next Reservation Block</th>
                  <th width="5%">Operation</th>
                </thead>
                <tbody>
                  <tr ng-repeat="r in vm.reservations">
                    <td>// r.fields.username //</td>
                    <td>// r.fields.reservation_start_time | dateL: 'YYYY-MM-DD HH:mm' //-// r.fields.reservation_end_time | dateL: 'YYYY-MM-DD HH:mm' //</td>
                    <td>// r.fields.reservation_end_time | dateL: 'YYYY-MM-DD HH:mm' //</td>
                    <td>
                      <a href="javascript:void(0);" ng-click="vm.toAddOrUpdateReservation(r.pk, 'EDIT')">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
            <button class="btn btn-default" ng-click="vm.toAddOrUpdateReservation(0, 'ADD')">New Reservation</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>