<div class="form-group">
  <label class="col-sm-2 control-label">// vm.label //</label>
  <div class="col-sm-3">
    <select class="form-control" ng-model="vm.comparison" ng-options="r for r in ['=', 'LIKE', '!='] track by r"></select>
  </div>
  <div class="col-sm-4" style="padding-left: 0;">
    <input ng-if="vm.displayMode === 'INPUT'" type="text" class="form-control" ng-model="vm.fieldValue">
    <select ng-if="vm.displayMode === 'SELECT'" class="form-control" ng-options="item for item in vm.optionItems track by item" ng-model="vm.fieldValue"></select>
  </div>
  <div class="col-sm-2" ng-if="(vm.index != vm.selectedConditions.length - 1)" style="padding-left: 0; padding-right: 0;" >
    <select class="form-control" ng-model="vm.relationOp" ng-options="c for c in ['AND'] track by c"></select>
  </div>
  <div class="col-sm-1" ng-if="(vm.index == vm.selectedConditions.length - 1)" style="padding-left: 0;">
    <a class="btn btn-link" href="javascript:void(0);" ng-click="vm.remove({index: vm.index})"><span class="glyphicon glyphicon-minus"></span></a>
  </div>
</div>