<add-or-update-machine target-type="// vm.targetType //" show-modal="vm.showModal" machine-id="// vm.machineId //"></add-or-update-machine>
<h3>Machines</h3>
<table class="table">
  <thead>
    <th>ID</th><th>Machine</th><th>Operation</th>
  </thead>
  <tbody>
    <tr ng-repeat="m in vm.machines">
      <td>// m.id //</td>
      <td>// m.machine //</td>
      <td>
        <a href="javascript:void(0);" ng-click="vm.toEditMachine(m.id)"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="javascript:void(0);" ng-click="vm.remove(m.id)"><span class="glyphicon glyphicon-trash"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<a style="display:inline-block;" class="pull-right" href="javascript:void(0);" ng-click="vm.toAddMachine()">
  <span class="glyphicon glyphicon-plus"></span> Add Machines
</a>